html{
    text-align: center;
    background-color: #202020;
    font-family: 'Noto Sans', 'Courier New', Courier, monospace;
}

h3,label{
    font-size: larger;
    color: azure;
}
p{
    font-size: medium;
    color: azure;
}